@import "tailwindcss";

/* Rajdhani Regular */
@font-face {
    font-family: 'Rajdhani';
    src: url('/fonts/rajdhani/Rajdhani-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Rajdhani Medium */
@font-face {
    font-family: 'Rajdhani';
    src: url('/fonts/rajdhani/Rajdhani-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Rajdhani SemiBold */
@font-face {
    font-family: 'Rajdhani';
    src: url('/fonts/rajdhani/Rajdhani-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Rajdhani Bold */
@font-face {
    font-family: 'Rajdhani';
    src: url('/fonts/rajdhani/Rajdhani-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'VT323';
    src: url('/fonts/vt323/VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RedHatMono';
    src: url('/fonts/redhat/RedHatMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
  overscroll-behavior: none;
  overflow-x: none;
}


/* Effetto flicker / glitch */
@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
  }
  20%, 22%, 24%, 55% {
    opacity: 0.5;
  }
}


/* Applicabile a tutto il terminale */
/* Effetto scanline */
.scanlines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: repeating-linear-gradient(
    to bottom,
    rgba(255, 182, 65, 0.05) 0px,
    rgba(255, 182, 65, 0.05) 1px,
    transparent 2px,
    transparent 4px
  );
  mix-blend-mode: screen; /* così il colore si adatta meglio */
}

/* Movimento verticale delle scanline */
@keyframes scanmove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    opacity: 1;
  }
  20%, 24%, 55% {
    opacity: 0.8;
  }
  21%, 23%, 56% {
    opacity: 0.95;
  }
}

/* Sfondo */
.bg-amber {
    background-color: #0A0A0A; /* Nero CRT */
}

/* Cursore / selezioni */
.text-amber-medium {
    color: #FF8C00; /* Ambra scuro */
    text-shadow:
    0 0 1px #FF8C00,
    0 0 2px #df7b00,
    0 0 3px rgba(255, 140, 0, 0.5);
  animation: flicker 1.5s infinite;
}


.text-celestial {
  color: #55ead4;
  text-shadow:
  0 0 1px #55ead4,
  0 0 2px #43b8a6,
  0 0 3px rgba(85, 234, 212, 0.5);
  animation: flicker 1.5s infinite;
}

.text-celestial-dark {
  color: #399a8d;
  text-shadow:
  0 0 1px #399a8d,
  0 0 2px #276c63,
  0 0 3px #399a8d83;
  animation: flicker 1.5s infinite;
}

/* Cursore / selezioni */
.error-text {
    color: #cc013a; /* Ambra scuro */
    text-shadow:
    0 0 1px #ac0031,
    0 0 2px #890027,
    0 0 3px #ad003184;
  animation: flicker 1.5s infinite;
}
